#######################################################################################################################
#
# Sample application-local.yaml file...
#
# Copy this file to application-local.yaml and update the values as required.
#
#######################################################################################################################

logging:
  level:
    '[ca.gov.dtsstn.passport.api]': trace
    '[org.springframework.security]': debug

spring:
  artemis:
    embedded:
      persistent: true
      data-directory: target/artemis
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

application:
  database-initializer:
    run-on-startup: true
  feature-flags:
    # List of statuses, whose manifests should not be sent to the client.
    hidden-manifests: ['PASSPORT_ISSUED_SHIPPING_CANADA_POST'] 
  gcnotify:
    english-api-key: 00000000-0000-0000-0000-000000000000
    french-api-key: 00000000-0000-0000-0000-000000000000
    file-number-notification:
      english-template-id: 82eee16d-a836-4521-9314-441b7628e235
      french-template-id: 6d294617-7eb6-47ca-adb3-bd3b19f6bdc3
  request-logging-filter:
    enabled: true
  security:
    oauth:
      client-id: 2652573b-9b11-4f03-a3b8-eb38f1b00312
      tenant-id: 9ed55846-8a81-4246-acd8-b1a01abfc0d1
